*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #A6FF98;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
    font-size: 20px;
}

.cabecalho-imagem{
  width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}